body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.smile {
    display: grid;
    grid-template-rows: repeat(15, 30px);
    grid-template-columns: repeat(15, 30px);
}

.row_1,
.row_14 {
    grid-column-start: 6;
    grid-column-end: 11;
    background: black;
}

.row_2-1,
.row_13-1 {
    grid-column-start: 4;
    grid-column-end: 6;
    background: black;
}

.row_2-2,
.row_13-2 {
    grid-column-start: 6;
    grid-column-end: 11;
    background: yellow;
}

.row_2-3,
.row_13-3 {
    grid-column-start: 11;
    grid-column-end: 13;
    background: black;
}

.row_3-1 {
    grid-column-start: 3;
    grid-column-end: 4;
    background: black;
}

.row_3-2 {
    grid-column-start: 4;
    grid-column-end: 13;
    background: yellow;
}

.row_3-3 {
    grid-column-start: 13;
    grid-column-end: 14;
    background: black;
}

.row_4-1 {
    grid-area: 4 / 2 / 6 / 2;
    background: black;
}

.row_4-2 {
    grid-area: 4 / 3 / 6 /14;
    background: yellow;
}

.row_4-3 {
    grid-area: 4 / 14 / 6 / 15;
    background: black;
}

.row_5 {
    grid-column-start: 1;
    grid-column-end: 16;
    background: black;
}

.row_6-1,
.row_7-1,
.row_8-1,
.row_9-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    background: black;
}

.row_6-2,
.row_7-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    background: yellow;
}

.row_6-3 {
    grid-column-start: 3;
    grid-column-end: 5;
    background: black;
}

.row_6-4 {
    grid-column-start: 7;
    grid-column-end: 11;
    background: black;
}

.row_6-5,
.row_7-7 {
    grid-column-start: 13;
    grid-column-end: 14;
    background: black;
}

.row_6-6,
.row_7-8 {
    grid-column-start: 14;
    grid-column-end: 15;
    background: yellow;
}

.row_6-7,
.row_7-9,
.row_8-7,
.row_9-3 {
    grid-column-start: 15;
    grid-column-end: 16;
    background: black;
}

.row_7-3 {
    grid-column-start: 3;
    grid-column-end: 6;
    background: black;
}

.row_7-4 {
    grid-column-start: 7;
    grid-column-end: 8;
    background: black;
}

.row_7-5 {
    grid-column-start: 8;
    grid-column-end: 9;
    background: yellow;
}

.row_7-6 {
    grid-column-start: 9;
    grid-column-end: 12;
    background: black;
}

.row_8-2 {
    grid-column-start: 2;
    grid-column-end: 4;
    background: yellow;
}

.row_8-3 {
    grid-column-start: 4;
    grid-column-end: 7;
    background: black;
}

.row_8-4 {
    grid-column-start: 7;
    grid-column-end: 10;
    background: yellow;
}

.row_8-5 {
    grid-column-start: 10;
    grid-column-end: 13;
    background: black;
}

.row_8-6 {
    grid-column-start: 13;
    grid-column-end: 15;
    background: yellow;
}

.row_9-2 {
    grid-column-start: 2;
    grid-column-end: 15;
    background: yellow;
}

.row_10-1,
.row_11-1 {
    grid-column-start: 2;
    grid-column-end: 3;
    background: black;
}

.row_10-2 {
    grid-column-start: 3;
    grid-column-end: 14;
    background: yellow;
}

.row_10-3 {
    grid-column-start: 14;
    grid-column-end: 15;
    background: black;
}

.row_11-2 {
    grid-column-start: 3;
    grid-column-end: 6;
    background: yellow;
}

.row_11-3 {
    grid-column-start: 6;
    grid-column-end: 7;
    background: black;
}

.row_11-4 {
    grid-column-start: 7;
    grid-column-end: 10;
    background: yellow;
}

.row_11-5 {
    grid-column-start: 10;
    grid-column-end: 11;
    background: black;
}

.row_11-6 {
    grid-column-start: 11;
    grid-column-end: 14;
    background: yellow;
}

.row_11-7 {
    grid-column-start: 14;
    grid-column-end: 15;
    background: black;
}

.row_12-1 {
    grid-column-start: 3;
    grid-column-end: 4;
    background: black;
}

.row_12-2 {
    grid-column-start: 4;
    grid-column-end: 7;
    background: yellow;
}

.row_12-3 {
    grid-column-start: 7;
    grid-column-end: 10;
    background: black;
}

.row_12-4 {
    grid-column-start: 10;
    grid-column-end: 13;
    background: yellow;
}

.row_12-5 {
    grid-column-start: 13;
    grid-column-end: 14;
    background: black;
}